@use "./variables" as *;

.start-page-overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(138, 3, 3);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        text-align: center;
        align-self: center;
    }

    span {
        font-size: 6rem;
        text-decoration-line: underline;
        padding: 0.25rem;
        font-family: $primary-font;
    }

    button {
        background-color: #000000;
        color: #ffffff;
        font-size: 2rem;
        padding: 0.75rem;
        font-family: $secondary-font;
    }
}