@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$secondary-font: 'Nosifer', cursive;
$primary-font: 'Anton', sans-serif;

$background-primary: #315454;