@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$secondary-font: 'Nosifer', cursive;
$primary-font: 'Anton', sans-serif;

$background-primary: rgb(138, 3, 3);
$background-secondary: #315454;


$font-color-primary: #d6b6b8;
$font-color-secondary: #740404;
$font-color-tertiary: #045863;
$font-color-quaternary: rgb(52, 52, 52);