@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  padding: 0.125rem;
}

.game-container {
  min-width: 100vh;
  min-height: 100vh;
}
.game-container h2 {
  text-align: center;
  font-size: 2rem;
  color: darkgreen;
}
.game-container img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.game-container .lives-left {
  text-align: center;
}

.action-buttons {
  margin-top: 1rem;
  text-align: center;
}
.action-buttons .action-buttons__restart,
.action-buttons .action-buttons__solution,
.action-buttons .action-buttons__new-game {
  font-size: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: magenta;
  background-color: palevioletred;
}

.keyboard {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.25rem;
}

.hidden-word {
  text-align: center;
}

.alphabet-buttons {
  background-color: rgb(234, 168, 190);
  border-radius: 0.375rem;
}

.start-page-overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(138, 3, 3);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.start-page-overlay h1 {
  text-align: center;
  align-self: center;
}
.start-page-overlay span {
  font-size: 6rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding: 0.25rem;
  font-family: "Anton", sans-serif;
}
.start-page-overlay button {
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.75rem;
  font-family: "Nosifer", cursive;
}

.game-over-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}

.won-game-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 145, 28, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}/*# sourceMappingURL=styles.css.map */