@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

.game-container {
  min-width: 100vh;
  min-height: 100vh;
  background-color: #315454;
}
.game-container h2 {
  padding-top: 1rem;
  font-family: "Nosifer", cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #740404;
}
.game-container img {
  display: block;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.game-container .lives-left {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 1.75rem;
}
.game-container .lives-left #lives-counter {
  font-family: "Anton", sans-serif;
  font-size: 1.75rem;
  color: #740404;
}
.game-container .hidden-word {
  text-align: center;
  width: 15rem;
  margin: 1rem auto 1rem auto;
}
.game-container .hidden-word .hidden-letters {
  font-family: "Anton", sans-serif;
  color: #045863;
  font-size: 2.5rem;
  padding: 0.125rem;
  text-transform: uppercase;
}
.game-container .solution-word {
  font-family: "Anton", sans-serif;
  color: #045863;
  font-size: 2.5rem;
  padding: 0.125rem;
  text-transform: uppercase;
}
.game-container .keyboard {
  width: 20rem;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game-container .keyboard .alphabet-buttons {
  background-color: #740404;
  color: #d6b6b8;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  place-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  font-family: "Nosifer", cursive;
}
.game-container .action-buttons {
  margin-top: 1rem;
  text-align: center;
}
.game-container .action-buttons #action-buttons__retry,
.game-container .action-buttons #action-buttons__solution,
.game-container .action-buttons #action-buttons__new-game {
  font-size: 1rem;
  border-radius: 0.375rem;
  border-style: solid;
  background-color: #045863;
  color: #d6b6b8;
  padding: 0.25rem 0.5rem;
  font-family: "Anton", sans-serif;
}

.start-page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(138, 3, 3);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("red-door-background.jpg");
  background-size: 100vh;
}
.start-page-overlay h1 {
  text-align: center;
  align-self: center;
  margin: 1rem auto 1rem auto;
}
.start-page-overlay span {
  font-size: 5.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding: 0.25rem;
  font-family: "Anton", sans-serif;
}
.start-page-overlay button {
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.75rem;
  font-family: "Nosifer", cursive;
}

.game-over-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(138, 3, 3);
  opacity: 95%;
  z-index: 2;
}
.game-over-overlay .game-over-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game-over-overlay .game-over-overlay-content h3 {
  font-size: 6rem;
  font-family: "Nosifer", cursive;
  color: rgb(52, 52, 52);
  text-align: center;
  opacity: 100%;
  z-index: 2;
}
.game-over-overlay .game-over-overlay-content #close-game-over-overlay-button {
  font-size: 1.5rem;
  font-family: "Nosifer", cursive;
  color: #740404;
  background-color: #d6b6b8;
  padding: 0.5rem;
}

.won-game-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #045863;
  opacity: 95%;
  z-index: 2;
}
.won-game-overlay .won-game-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.won-game-overlay .won-game-overlay-content #close-won-game-overlay {
  font-size: 1rem;
  border-radius: 0.365rem;
  background-color: rgb(138, 3, 3);
  color: #d6b6b8;
  align-items: baseline;
  padding: 1rem;
  font-family: "Anton", sans-serif;
}
.won-game-overlay .won-game-overlay-content h4 {
  font-size: 6rem;
  font-family: "Anton", sans-serif;
  color: #740404;
  text-align: center;
  opacity: 100%;
}
.won-game-overlay .won-game-overlay-content #won-game-new-game-button {
  font-size: 2rem;
  font-family: "Nosifer", cursive;
  color: #740404;
  background-color: #d6b6b8;
  padding: 0.5rem;
}/*# sourceMappingURL=styles.css.map */